

<!-- Hero Start -->
<div class="container-fluid pt-5 bg-dark hero-header mb-5">
  <div class="container pt-5">
      <div class="row g-5 pt-5">
          <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
              <div class="btn btn-sm border rounded-pill text-white px-3 mb-3 animated slideInRight">barnBIT</div>
              <h1 class="display-4 text-white mb-4 animated slideInRight">Conoce todo el universo Marvel</h1>
              <p class="text-white mb-4 animated slideInRight">Descubre todo el universo Marvel. Conoce los principales personajes, películas y cómics donde encontrarlos.</p>
          </div>
          <div class="col-lg-6 align-self-end text-center text-lg-end">
              <img class="img-fluid spidermanItem" src="../../../assets/img/hero2.png" alt="Imagen del superheroe Spiderman">
          </div>
      </div>
  </div>
</div>
<!-- Hero End -->
<div class="container mainBlock d-flex">
    <div *ngIf="data$ | async as data">
      {{data}}

    </div>
  
    <div 
        class="col mainBlock__item mb-3"
        *ngFor="let character of allCharacters | keyvalue"
        >
        <div class="card mainBlock2 flex-nowrap">
            
                <div class="card" style="width: 18rem;">
                    <!--<img 
                      src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}"-->
                      class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3 class="card-title">{{character.value}}</h3>
                      <p class="card-text">
                        {{ character.value }}
                      </p>
                      <a class="btn btn-primary" 
                        [routerLink]="['details/',character.value]"
                        >Stories</a>
                    </div>
                  </div>
          
        </div>
    </div>
</div>