<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card cardBlock  border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center mb-5 fw-light fs-5">Accede a la aplicación</h5>
          <form 
            [formGroup]="loginForm"
            (ngSubmit)="loginFormSubmit()"
            autocomplete="off"
            >
            <div class="form-floating mb-3">
              <input 
                type="email" 
                class="form-control" 
                id="floatingInput" 
                placeholder="nombre@ejemplo.com"
                formControlName="email"
                >
              <label for="floatingInput">Correo electrónico</label>
              <div class="mt-3 text-danger">
                <div>
                  <span *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
                    Por favor introduce una dirección de correo electrónico
                  </span>  
                  <span *ngIf="loginForm.get('email')?.hasError('pattern') ">
                    El formato del correo no es correcto
                  </span>
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input 
                type="password" 
                class="form-control" 
                id="floatingPassword" 
                placeholder="Contraseña"
                formControlName="password"
                >
              <label for="floatingPassword">Contraseña</label>
              <div class="mt-3 text-danger">
                <div>
                  <span *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
                    Por favor introduce la contraseña
                  </span> 
                </div>
              </div>
            </div>
            <div class="d-grid btnBlock">
              <button 
                class="btn btnBlock__Item" 
                type="submit"
                [disabled]="loginForm.invalid"
                >
                Acceder a la aplicación
              </button>
            </div>

            <div class="form-check mb-3 mt-3">
              <input 
                    class="form-check-input colorfont" 
                    type="checkbox"
                    formControlName="remember"
              >
              <label class="form-check-label colorfont" for="rememberPasswordCheck">
                Recordar contraseña
              </label>
            </div>

            
            <hr class="my-4">
              <div  class="d-grid mb-2 btnBlock">
                <button class="btn btnBlock__Item" type="submit">
                  <i class="fab fa-google me-2"></i> Accede con Google
                </button>
              </div>
              <div #googleBtn id="buttonDiv"></div>
              <div class="mt-3">
                <p class="colorfont">¿Ya tienes una cuenta con nosotros? <a routerLink="/register">Regístrate</a></p>
              </div>

              
          </form> 
          
      </div>
    </div>
  </div>
</div>