  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card cardBlock bg-dark border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Regístrate en la aplicación</h5>
            <form 
              autocomplete="off"
              [formGroup]="regForm"
              (ngSubmit)="createUser()"
              >
              <div class="form-floating mb-3">
                <input 
                  type="text" 
                  class="form-control"  
                  placeholder="Mi nombre"
                  formControlName="nombre"
                  [class.invalid]="
                    regForm.get('nombre')?.invalid && 
                    (regForm.get('nombre')?.touched || 
                    regForm.get('nombre')?.dirty || formSubmitted) "
                  >
                <label for="floatingInput">Nombre</label>
                <div class="mt-3 text-danger">
                  <div>
                    <span *ngIf="regForm.get('nombre')?.hasError('required') && regForm.get('nombre')?.touched">
                      Por favor introduce un nombre
                    </span>  
                  </div>
                </div>
              </div>
              <div class="form-floating mb-3">
                <input 
                  type="email" 
                  class="form-control" 
                  id="floatingInput" 
                  placeholder="nombre@ejemplo.com"
                  formControlName="email"
                  [class.invalid]="
                    regForm.get('email')?.invalid && 
                    (regForm.get('email')?.touched || 
                    regForm.get('email')?.dirty || formSubmitted) "
                  >
                <label for="floatingInput">Correo electrónico</label>
                <div class="mt-3 text-danger">
                  <div>
                    <span *ngIf="regForm.get('email')?.hasError('required') && regForm.get('email')?.touched">
                      Por favor introduce una dirección de correo electrónico
                    </span>  
                    <span *ngIf="regForm.get('email')?.hasError('pattern') ">
                      El formato del correo no es correcto
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-floating mb-3">
                <input 
                  type="password" 
                  class="form-control" 
                  id="floatingPassword" 
                  placeholder="Contraseña"
                  formControlName="password"
                  [class.invalid]="
                    regForm.get('password')?.invalid && 
                    (regForm.get('password')?.touched || 
                    regForm.get('password')?.dirty || formSubmitted) "
                  >
                <label for="floatingPassword">Contraseña</label>
              </div>
              <div class="mt-3 text-danger">
                <div>
                  <span *ngIf="regForm.get('password')?.hasError('required') && regForm.get('password')?.touched">
                    Por favor introduce una contraseña
                  </span>
                  <span *ngIf="regForm.get('password')?.hasError('minlength')">
                    La contraseña debe tener más de 6 carácteres
                  </span>
                </div>
              </div>
              <div class="form-floating mb-3">
                <input 
                  type="password" 
                  class="form-control" 
                  id="floatingPassword2" 
                  placeholder="Repite la contraseña"
                  formControlName="password2"
                  [class.invalid]="
                    regForm.get('password2')?.invalid && 
                    (regForm.get('password2')?.touched || 
                    regForm.get('password2')?.dirty || formSubmitted) "
                  >
                  >
                <label for="floatingPassword">Repite la contraseña</label>
              </div>
              <div class="mt-3 text-danger">
                <div>
                  <span *ngIf="regForm.get('password2')?.hasError('required') && regForm.get('password2')?.touched">
                    Por favor introduce una contraseña
                  </span>
                  <span *ngIf="regForm.get('password2')?.hasError('minlength')">
                    La contraseña debe tener más de 6 carácteres
                  </span>
                  <span *ngIf="regForm.errors?.['passerrormatch']">
                    Las contraseñas no coinciden
                  </span>
                </div>
              </div>
              <div class="mb-3">
                <input 
                  type="checkbox" 
                  class="" 
                  id="terms" 
                  formControlName="terminos"
                  [class.invalid]="
                    regForm.get('terminos')?.invalid && 
                    (regForm.get('terminos')?.touched || 
                    regForm.get('terminos')?.dirty || formSubmitted) "
                  >
                  >
                <label for="floatingPassword"><a class="ms-2"href="">Aceptas las condiciones de uso</a></label>
                <div class="mt-3 text-danger">
                  <span *ngIf="f.terminos?.errors && formSubmitted">
                    Debes aceptar los terminos para continuar</span>
                </div>
              </div>
              <div class="d-grid btnBlock">
                <button 
                  class="btn btnBlock__Item" 
                  type="submit"
                  
                  >
                  Registrate
                </button>
              </div>
              <hr class="my-4">
                <div class="mt-3">
                  <p class="colorfont">¿Ya tienes una cuenta con nosotros? <a routerLink="/login">Accede</a></p>
                </div>
            </form> 
        </div>
      </div>
    </div>
  </div>